<h2>Registration Form</h2>
<form action="/registration/creates_user" method="post">
  <input type="text" name="name" placeholder="Enter name">
  <br/>
  <input type="text" name="address" placeholder="Enter address">
  <br/>
  <input type="text" name="city" placeholder="City">
  <br/>
  <input type="text" name="state" placeholder="State">
  <br/>
  <input type="text" name="zipcode" placeholder="Zipcode">
  <br/>
  <input type="text" name="country" placeholder="Country">
  <br/>
  <input type="text" name="email" placeholder="Enter email address">
  <br/>
  <input type="text" name="username" placeholder="Enter username">
  <br/>
  <input type="text" name="password" placeholder="Enter password">
  <br/>
  <input type="text" name="phone" placeholder="Enter phone number"> Optional
  <br/>
  <input type="submit" value="Register">
</form>
